

@media (max-width: 800px) {
    .hero section{
        display: block;
        padding-bottom: 1rem;
    }

    .hero .hero-texts{
        margin-bottom: 1rem;
    }
}

/*--------categories----------*/
.categories section{
    padding: 1rem;
    width: 100%;
}
.cat-card{
    margin-top: 2rem;
    grid-column: span 2;
    text-align: center;
}

.cat-card img{
    width:100% ;
}

@media (max-width: 800px) {
    .categories section{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    scrollbar-width: auto;
    overflow-x: scroll;
}
.cat-card{
    width: 200px;
}

}
/*--------Featured-----------*/

.featured-products h2{
    padding-top: 2rem;
}
/*--------cetagory-product-------*/ 
.cat-container section .texts{
  grid-column: span 3;
}
.cat-container section .texts>div{
  padding: 1rem;
}
.cat-container section .texts h3{
 font-size: 24px;
}
.cat-container section .texts img{
  width: 100%;
  height: 100%;
}
.cat-container section .cat-product{
  grid-column: span 9;
}
@media (max-width: 800px) {
    .cat-container section {
  display: block;
}
}


/*-----------*/
.search-dropdown {
    border-radius: 4px;
}

.search-item:hover {
    background: #f0f0f0;
    cursor: pointer;
}
