
.create-product form{
    margin:0 2rem ;
}
.create-product form .input-container input, button, textarea, select{
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
    padding: 1rem;
    font-size: large;

}

.create-product form .input-container label{
    margin: 5px 0;
} 
.create-product form .size-stock{
    width: 100%;
    gap: 1rem;
    justify-content: flex-start;
} 
.create-product form .input-container textarea{
    height: 200px;
    font-size: large;
}

.desc-label h3{
    margin: 1rem 0;
    background-color: #fff;
    padding: .5rem 0;
}

.size-stock h3{
    text-align: left;
}

.alert{
    display: none;
}

.showalert{
    display: block;
    padding: 2rem;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.2);
}
.cross{
    position: absolute;
    top: 20;
    right: 20;
}