header .top-bar section{
  justify-content: space-between;
  padding: 6px 1rem;
  border-bottom: 1px solid #fff;
}

header .logo-container{
  justify-content: space-between;
  padding: 5px 1rem;
  background: none;
}

header .logo-container .icons-container i{
  margin-left: 2rem;
  font-size: 30px;
}

.logo-container .search input{
  width: 400px;
  border: 1px solid orange;
  padding: 1rem;
}

.logo-container .search button{
  width: 40px;
  background-color:  orange;
  border: none;
  color: white;
}

.logo-container .search button, input{
  height: 40px;
}

/*Navigation*/

header .navbar-container{
  background-color: #333;
  color: #fff;
  padding: 0;
}
header .navbar-container.scrolled{
  position: fixed;
  top: 0;
  z-index: 100;
}
.dropdown{
  grid-column: span 4;
  background-color: orange;
}
.dropdown h3{
  padding: 2rem;
}
.dropdown-toggle{
  position: relative;
}
.dropdown-menu{
  position: absolute;
  background-color: orange;
  width: 100%;
  display: none;
  z-index: 100;
}
.dropdown-menu.dropdown-open{
  display: flex;
}
.dropdown-item{
  justify-content: flex-start;
  gap: 1rem;
}
.dropdown-menu a{
  padding: 1rem 0;
  padding-left: 2rem;
  border-top: 1px solid #eee;
  width: 100%;
}
header nav .links{
  grid-column: span 8;
  justify-content: space-between;
  padding: 1rem ;
}

header nav .links a:hover{
  color: orange;
}
header nav .links h3{
  position: relative;
}
header nav .links h3::after{
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: orange;
  transition: width 0.3s ease;
}

header nav .links h3:hover::after{
  width: 100%;
}
.menu-bar{
  display: none;
}
@media (max-width:800px) {
  header{
    padding: 0 1rem;
  }
  .menu-bar{
    display: flex;
    cursor: pointer;
    transform: translateX(100);
  }
  .logo-container .search{
    display: none;
  }

  .navbar-container .dropdown{
    grid-column: span 8;
    z-index: 200;
  }
  .navbar-container .links{
    grid-column: span 12;
  }

  .navbar-container {
    position: relative;
  }
  .navbar-container .links{
    position: absolute;
    display: none;
    flex-direction: column;
    right: 0;
    background-color: #333;
    top: 80;
    width: 100%;
    align-items: flex-start;
    gap: 1rem;
    z-index: 100;
  }
  .navbar-container .links.active{
    display: flex;
  }
  .navbar-container .links a{
    display: block;
  }
  .navbar-container .menu-bar{
    width: 100%;
    justify-content: flex-end;
  }
  .navbar-container .menu-bar i{
    font-size: 24px;
  }

}