.hero section{
  width: 100vw;
  padding: 1rem 0;
}
/* Left text */
.hero-texts {
    grid-column: span 4;
    height: 450px;
}
.hero-texts .img{
  width: 100%;
  height: 100%;
  position: relative;
}

/* Right banner slider */
.hero-banner {
    grid-column: span 8;
    height: 450px;
    order: -10;
}
.hero-banner .img{
  width: 100%;
  height: 100%;
  position: relative;
}
.banner-img {
  /* Fade animation */
  opacity: 0;
  animation: fadeIn 0.7s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 900px) {
  .hero-banner {
    height: 250px;
    order: -20;
  }
}
