

.settings .heading h1 i{
    margin-right: 1rem;
}
.settings .sub-heading{
    margin: 2rem;
}

i{
    margin-right: 1rem;
}
.settings .categories ul{
    list-style: none;
}
.settings .categories ul li{
    padding: 10px;
    width: 100%;
    margin-bottom: 8px;
    background-color: #eee;
}

.settings .categories ul li input{
    padding: 10px;
    width: 100%;
    margin-bottom: 8px;
}

.settings .categories ul li button{
    padding: 10px;
    width: 100%;
}

.settings .input-container {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #fff;
}
.settings .input-container strong{
    padding: 10px 0;
    width: 100%;
}
.settings .input-container input{
    padding: 10px;
    width: 100%;
    margin-bottom: 8px;
}

.settings .input-container button{
    padding: 10px;
    width: 100%;
}