.main-page{
    padding: 1rem;
}

/*-----overview------*/
.overview{
    gap: 4px;
}
.overview .heading{
    min-width: 100%;
    border-radius: none;
    padding-left: 1rem;
    margin-top: 1rem;
}
.overview .card{
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 4px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    grid-column: span 3;
}
.overview .card i{
    margin: 0;
}
hr{
    width: 100%;
    border: 2px solid #ffffff;
}
.overview-container{
    width: 100%;
}

        .search-input {
          width: 100%;
          padding: 0.5rem;
          margin-bottom: 1rem;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .users-table {
          width: 100%;
          border-collapse: collapse;
        }
        .users-table th,
        .users-table td {
          border: 1px solid #ccc;
          padding: 0.5rem;
          text-align: left;
        }
        .users-table th {
          background-color: #f4f4f4;
        }