

.dashboard .page-title{
    background-color: #eee;
    height: 100px;
}

.dashboard section{
    margin: 20px 0;
}
.dashboard section .profile{
    background-color: #eee;
    grid-column: span 4;
}

.dashboard section .profile .profile-component i{
    margin-right: 1rem;
}
.dashboard section .profile .img{
    padding: 1rem;
}
.dashboard section .profile ul li{
    list-style: none;
    padding: 5px 1rem;
    font-size: large;
}

.dashboard section .profile .show-orders button{
    width: 90%;
    height: 40px;
    border: none;
    font-size: medium;
    background-color: #fff;
    text-align: left;
    padding: 1rem;
    margin-bottom: 5px;
}
.dashboard section .profile .settings button{
    width: 100%;
    height: 40px;
    border: none;
    font-size: large;
    background-color: #eee;
    color: #333;
}
.dashboard section .profile .settings button:hover{
    background-color: #fff;
}
.dashboard section .orders{
    background-color: #eee;
    grid-column: span 8;
}
.dashboard section .orders p{
    padding: 1rem;
}

.dashboard h2{
    border-bottom: 4px solid #ffffff;
    padding: 1rem;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.order-container li{
    justify-content: space-between;
    background-color: #fff;
    padding: 1rem;
}
.order-container h2{
    justify-content: space-between;
    background-color: #fff;
}
@media (max-width:800px) {
    .dashboard section{
        display: block;
    }

    .dashboard section .profile,
    .dashboard section .orders{
        margin: 10px 0;
    }
}